.main-section {
  background-color: #f2f2f2;
}

.section-box {
  display: flex;
  align-items: center;
}

.wrapper-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section-img {
  background-image: url(../../img/hero-bg-desktop.png);
  background-repeat: no-repeat;
  background-position: 150px -250px; 
}


.section-img {
  position: relative;
  top: -0px;
  right: -150px;
}

.section-img {
  vertical-align: middle;
}

.section-box-title {
  width: 394px;
  font-weight: 100;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: -1px;
  color: #2d314d;
  margin-top: 0;
  margin-bottom: 24px;
  padding: 0;
}

.section-box-text {
  width: 447px;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: -0.28125px;
  color: #9597A5;
  margin-top: 0;
  margin-bottom: 36px;
  padding: 0;
}

.section-box-link {
  width: 163px;
  font-weight: 500;
  font-size: 14px;
  line-height: 28px;
  color: #fff;
  padding: 8px 33px;
  text-decoration: none;
  background: linear-gradient(135deg, #33D35E 0%, #2AB6D9 99.58%);
  border-radius: 22px;
}



